* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section { 
    height: 50px;
    background-color: darkgray;
}
.s1 {   
    float: right;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 1.5;
    font-size: 30px;
    display: inline-block;
    /* border: 1px solid; */
   
}
.s1:hover{
    background-color: darkslategrey;
    cursor: pointer;
    width: 120px;
    
}
.s2{
    float: left;
    width: 200px;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    

    }
    .s2 red{
        font-size: 32px;
        font-weight: 700;
        color: darkgreen;
    }


.elem {
    /* margin-left: 55px; */
    margin: 100px 50px;
    width: 190px;
    font-size: 20px;
    color: white;
    height: 190px;
    text-align: center;
    line-height: 180px;
    display: inline-block;
    /* display: flex; */
    border: 5px solid;
    border-color: brown;
    border-radius: 880px;
    background-color: rgba(2, 8, 26, 0.794);
    /* justify-content: center; */
    /* align-items: center; */
    /* box-sizing: border-box; */
}
.llr {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.bgimg1 {
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    /* width: 100%; */
    background-size: cover;
    height: 50vh
}

.bgclr1 {
    background-color: rgb(138, 138, 138);
    height: 50vh;
    border: 1px solid;
    border-color: crimson;
    /* padding: 5px 30px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.hStyle {
    font-family: 'Festive', cursive;
    /* font-family: cursive; */
    font-weight: 1000;
    font-size: 900%;
    font-style: italic;
    text-align: center;
    /* justify-content: center; */
    line-height: 50vh;
    align-items: center;
    color: rgb(255, 8, 0);
}

